
*.dll
*.pdb
*.nupkg
*.sqlite
*.cache
*.suo
*.log
packages/
/.vs
Thumbs.db
*.nuspec
*.dll
*.pdb
*.dll
*.pdb
*.CopyComplete
*.nuspec
*.pdb
*.dll
*.ide
*.lock
*.props
src/Bucket.Core/obj/Debug/netstandard2.0/Bucket.Core.AssemblyInfo.cs
src/Bucket.AspNetCore/obj/Debug/netstandard2.0/Bucket.AspNetCore.AssemblyInfo.cs
src/Config/Bucket.ConfigService/obj/Debug/netstandard2.0/Bucket.ConfigCenter.AssemblyInfo.cs
src/ErrorCode/Bucket.ErrorCodeStore/obj/Debug/netstandard2.0/Bucket.ErrorCodeStore.AssemblyInfo.cs
src/EventBus/Bucket.EventBus.AspNetCore/obj/Debug/netstandard2.0/Bucket.EventBus.AspNetCore.AssemblyInfo.cs
src/EventBus/Bucket.EventBus.Common/obj/Debug/netstandard2.0/Bucket.EventBus.Common.AssemblyInfo.cs
src/EventBus/Bucket.EventBus.RabbitMQ/obj/Debug/netstandard2.0/Bucket.EventBus.RabbitMQ.AssemblyInfo.cs
src/Logging/Bucket.Logging.Event/obj/Debug/netstandard2.0/Bucket.Logging.Events.AssemblyInfo.cs
src/Utility/Bucket.Utility/obj/Debug/netstandard2.0/Bucket.Utility.AssemblyInfo.cs
src/Utility/Bucket.Redis/obj/Debug/netstandard2.0/Bucket.Redis.AssemblyInfo.cs
src/Tracer/Bucket.Tracer/obj/Debug/netstandard2.0/Bucket.Tracer.AssemblyInfo.cs
src/Tracer/Bucket.Tracer.Events/obj/Debug/netstandard2.0/Bucket.Tracer.Events.AssemblyInfo.cs
src/ServiceDiscovery/Bucket.ServiceDiscovery.Consul/obj/Debug/netstandard2.0/Bucket.ServiceDiscovery.Consul.AssemblyInfo.cs
src/ServiceClient/Bucket.ServiceClient.Http/obj/Debug/netstandard2.0/Bucket.ServiceClient.Http.AssemblyInfo.cs
src/Sample/Bucket.MVC/obj/Debug/netcoreapp2.0/Bucket.MVC.AssemblyInfo.cs
src/ORM/Bucket.DbContext/obj/Debug/netstandard2.0/Bucket.DbContext.AssemblyInfo.cs
src/Logging/Bucket.Logging/obj/Debug/netstandard2.0/Bucket.Logging.AssemblyInfo.cs
