
*.dll
*.pdb
*.nupkg
*.sqlite
*.cache
*.suo
*.log
*.nuspec
*.dll
*.pdb
*.dll
*.pdb
*.CopyComplete
*.nuspec
*.pdb
*.dll
*.ide
*.lock
*.props
*Thumbs.db
packages/
bin/
bin
obj/
obj
.vs
.vs/
*.user
*.pubxml
